* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
  color: #fff;
}
html,body{
  height: 100%;
  width: 100%;
  background-color: #000;
}
.card{
  background-color: crimson;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}
.nav{
  background-color: rgb(37, 63, 72);
  font-size: x-large;
  padding: 20px;
}